/* ======= GENERAL ======= */

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text-center {
	text-align: center;
}

.element-center {
	margin: 0 auto;
}

/* ======= FORMS ======= */

.form-container {
	margin-left: 15px;
}

.error {
	color: red;
}

/* ====== HEADER ========== */

.nav-container {
	margin-top: 0;
}

.main-nav {
	font-size: 1.15em;
	min-height: 70px;
	border-bottom: solid 2px #FE8F05;
	background: #FEB366;
	padding: 1px;
}

.main-nav a {
	padding: 0 8px;
}

.left-nav {
	float: left;
	padding: 5px 25px;
}

.right-nav {
	float: right;
	padding: 5px 25px;
}

.link-button { 
    background: none;
    border: none;
    color: #0066ff;
    padding: 0 8px;
    font-size: 0.93em;
    display: inline;
    margin-top: 25px;   
}

/* ===== FOOTER ========= */

footer {
	text-align: center;
	margin-top: 5px;
	border-top: solid 2px #FE8F05;
	background: #FEB366;
	min-height: 25px;
}

footer small {
	display: inline-block;
	padding-top: 5px;
}

/* ======= HOMEPAGE ======== */

.container {
	min-height: 520px;
}

.main-header {
	font-size: 100px;
	text-align: center;
	margin-top: 0;
	padding-top: 100px;
}

/* ===== PANEL ======== */

.panel-container {
	min-height: 460px;
	text-align: center;
	margin: 0 auto;
}

.panel-header {
	margin: 60px 0 80px;;
	font-size: 2em;
}

.panel-button {
	height: 120px;
	width: 200px;
	margin: 0 20px;
	border: solid 2px #FE8F05;
	background: #FEB366;
	white-space: normal;
    -webkit-appearance: none;
}

.buttons-container {
	margin-bottom: 40px;
}

/* ===== SUMMER PANEL & CHANGE PAID ======== */

.summer-container {
	min-height: 410px;
	margin-bottom: 50px;
}

.summer-header {
	margin: 60px 0 40px;;
	font-size: 2em;
	display: block;
}

.summer-container h4 {
	margin-left: -70%;
}

.click-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 150px; 
	padding: 5px 10px; 
	margin-bottom: 15px;
	background: #FEB366;
	margin-left: 50px;
}

.change-paid-button {
	margin-top: 20px;
	float: right;
	margin-right: 12%;
}

.summer-registered {
	margin-left: 50px;
}

table {   
	border-collapse:collapse;
	border: 1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:85%;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #FEB366;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid gray;
	text-align:center;	
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}	

